<html>
	<body>
		<form action = "http://localhost:5000/registration/" method = "POST">
			<h3>Employee Information</h3>
			EmpID<br>
			<input type = "text" name = "EmpID" /></br>
			EmpName<br>
			<input type = "text" name = "EmpName" /></br>
			EmpGender<br>
			<input type = "text" name = "EmpGender" /></br>
			EmpPhone<br>
			<input type = "text" name = "EmpPhone" /></br>
			EmpBdate<br>
			<input type = "text" pattern = "\d{4}-\d{2}-\d{2}" placeholder = "YYYY-MM-DD" name = "EmpBdate" /></br>
			<input type = "submit" value = "submit" /></br>
		</form>
	</body>
</html>
